<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Vegan Recipes">
	<meta name="keywords" content="vegan, recipes, baking, cooking, animal rights">
	<meta name="author" content="Scott Jones">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry of Plants</title>
    <link rel="stylesheet" href="style/style.css">
    <script src="scripts/active-nav.js" defer></script>
    <script src="scripts/image-slide.js" defer></script>
  </head>
