<nav>
	<a href="../index.html"><img src="../images/pantry-of-plants-logo.png" class="logo"></a>
	<div class="nav-text-outer">
		<a href="recipes.html" class="nav-text" id="active">Recipes</a>
		<a href="../about.html" class="nav-text">About</a>
	</div>
</nav>
