<html>
  <head>
    <title>Pantry of Plants</title>
    <link rel="stylesheet" href="../style/style.css">
    <script src="../scripts/image-slide.js" defer></script>
  </head>
  <body>
    <%= render "header.html.erb" %>
    <div class="content">
      <%= content %>
    </div>
    <%= render "footer.html.erb" %>
  </body>
</html>
