<html>
  <head>
    <title>Pantry of Plants</title>
    <link rel="stylesheet" href="../style/style.css">
  </head>
  <body>
    <%= render "header.html.erb" %>
    <%= content %>
    <%= render "footer.html.erb" %>
  </body>
</html>
